/* Séléction de toute la page */
* {
    list-style: none;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    margin: 0;
    padding: 0;
}

/* En tête du site */
header {
    height: 100vh;
    width: auto;
    background-image: url(img/oleg-laptev-7jQh3EiS8Bs-unsplash.jpg);
    background-size: cover;
}

/* Barre de navigation */

.navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: auto;
    box-sizing: border-box;
    align-items: center;
    position: sticky;
    top: 0;
}

/* Liens */
.navlinks ul {
    display: flex;
}

.navbar a {
    color: rgb(90, 89, 89);
}

.navbar a:hover,
#Accueil a:hover {
    color: rgb(49, 29, 29);
    font-weight: 700;
}

.navlinks ul li,
#logo {
    margin: 0 20px;
}

#Accueil a {
    color: black;
    font-weight: 400;
}



#titre {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.boutons {
    display: block;
    text-align: center;
    margin-top: 100px;
}

.btn_nav {
    background-color: #e1e2e4;
    border-radius: 10px;
    border: 4px double rgb(90, 89, 89);
    font-size: 15px;
    padding: 20px;
    cursor: pointer;
}

.btn_nav a {
    color: rgb(90, 89, 89);
}

.btn_nav a:hover {
    color: rgb(49, 29, 29);
}

.btn_nav {
    margin: 100px;
}

.btn_nav span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn_nav span:after {
    content: "  \00bb";
    opacity: 0;
    margin-right: 0px;
    transition: 0.5s;
}

.btn_nav:hover span {
    padding-right: 5px;
}

.btn_nav:hover span:after {
    opacity: 1;
    right: 0;
}

main {
    background-color: rgb(232, 232, 232);
    border-top: 4px double rgb(90, 89, 89);
    border-bottom: 4px double rgb(90, 89, 89);
}

#femme_lv,
#homme_lv {
    width: 50%;
    height: auto;
}

#titre_main {
    text-align: center;
    margin-top: 50px;
}

.ss {
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
}

.style,
#homme,
#femme {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.img_ {
    width: 70%;
}

#vitrine {
    margin-top: 50px;
    border-top: 4px double rgb(90, 89, 89);
    text-align: center;
}

#vitrine h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

#homme {
    border-bottom: 4px double rgb(90, 89, 89);
}

.st {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 40px;
}

main a {
    color: rgb(87, 76, 76);
}

main a:hover {
    color: rgb(49, 29, 29);
}

#footer {
    background: #19110b;
}

footer h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
}

.footer_titre {
    color: whitesmoke;
    border-bottom: 1px solid #392d23;
    margin-left: 150px;
    display: inline-block;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.nav_footer_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.link{
    color: whitesmoke;
    margin: 30px;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav_footer_list li{
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #392d23;
}

.nav_footer_list_rs{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

/* Reponsive pour mobile */
@media screen and (max-width: 500px) {

    #logo {
        width: 100px;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 30px;
    }

    #sac,
    #autre {
        font-size: 20px;
        margin: 50px;
    }

    #sac,
    #autre span {
        text-align: center;
    }

    #titre {
        font-size: 150%;
        top: 350%;
    }

}